<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link rel="stylesheet" th:href="@{/styles.css}"/>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="/user">
    <div>
        <label>Username:
            <input type= "text" th:field="*{user.username}"/>
        </label>
        <p class="error" th:errors="*{user.username}"></p>
    </div>

    <div>
        <label>Email:
            <input th:field="*{user.email}"/>
        </label>
        <p class="error" th:errors="*{user.email}"></p>
    </div>

    <div>
        <label>Password:
            <input type= "password" th:field="*{user.password}"/>
        </label>
        <p class="error" th:errors="*{user.password}"></p>
    </div>

    <div>
        <label>Verify password:
            <input type= "password" th:field="*{user.verify}"/>
        </label>
        <p class="error" th:errors="*{user.verify}"></p>
    </div>

    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>